.form {}

.form__head {
  &--main {}

  &--modal {}
}

.form__title {
  &--main {}

  &--modal {}
}

.form__descr {
  &--main {}

  &--modal {}
}

.form--main form {}

.form--modal form {}

.form__field {
  &--main {}

  &--modal {}
}

.form--modal .form__field:not(.form__field--consent):not(.form__field--btn) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form--modal .form__field--cities {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    right: 21px;
    bottom: 18px;
    pointer-events: none;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-dark;
    width: 16px;
    height: 16px;
    mask-image: url("../__spritemap#sprite-icon-select-arrow-view");
    mask-size: 16px 9px;
    z-index: 1;
    cursor: pointer;

    @include vp-767 {
      bottom: 14px;
    }
  }
}

.form--modal .form__field--consent {
  min-height: 20px;
  display: flex;
  align-items: center;
}

.form--modal .form__label {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba($color-dark, 0.8);

  @include vp-1439 {
    line-height: 20px;
  }

  @include vp-767 {
    margin-bottom: 8px;
    line-height: 14px;
  }
}

.form--modal .form__label--consent {
  display: inline-block;
  width: 100%;
  padding-left: 30px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  cursor: pointer;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    width: 20px;
    height: 20px;
    left: 0;
    top: -4px;
    background-color: $color-action;
    border-radius: 2px;
    border: 1px solid $color-action;
    transition: background-color $trans-default, border-color $trans-default;
    z-index: 1;

    @include vp-767 {
      top: 5px;
    }
  }

  &::after {
    display: none;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-action;
    width: 10px;
    height: 10px;
    top: 0;
    left: 5px;
    mask-image: url("../__spritemap#sprite-icon-checked-view");
    mask-size: 10px 8px;
    z-index: 2;
  }

  @include vp-767 {
    line-height: 14px;
  }
}

.form__field--modal:not(.form__field--consent) input,
.form__field--modal select {
  width: 100%;
  background-color: $color-transparent;
  padding: 0;
  border: 1px solid rgba($color-dark, 0.3);
  border-radius: 8px;
  min-height: 50px;
  color: $color-dark;
  transition: border-color $trans-default;
  font-size: 14px;
  line-height: 14px;
  padding-left: 24px;
  padding-right: 24px;

  @include vp-767 {
    min-height: 44px;
  }
}

.form__field--modal:not(.form__field--consent) input:focus,
.form__field--modal:not(.form__field--consent) input:focus-visible,
.form__field--modal:not(.form__field--consent) input:hover,
.form__field--modal:not(.form__field--consent) input:active,
.form__field--modal select:focus,
.form__field--modal select:focus-visible,
.form__field--modal select:hover,
.form__field--modal select:active {
  border-color: $color-dark;
  transition: border-color $trans-default;
}

.form__field--modal:not(.form__field--consent):has(input:focus) .form__label,
.form__field--modal:not(.form__field--consent):has(input:focus-visible) .form__label,
.form__field--modal:not(.form__field--consent):has(input:hover) .form__label,
.form__field--modal:not(.form__field--consent):has(input:active) .form__label,
.form__field--modal:has(select:focus) .form__label,
.form__field--modal:has(select:focus-visible) .form__label,
.form__field--modal:has(select:hover) .form__label,
.form__field--modal:has(select:active) .form__label {
  color: $color-dark;
  transition: color $trans-default;
}

.form__field--modal:not(.form__field--consent) input:disabled {
  border-color: rgba($color-disabled, 0.5);
  background-color: rgba($color-disabled, 0.2);
}

.form__field--modal:not(.form__field--consent):has(select:disabled) .form__label {
  color: rgba($color-dark, 0.6);
}

.form__field--modal:not(.form__field--consent).is-error input {
  border-color: $color-error;
  background-color: rgba($color-error, 0.2);
}

.form--modal .form__field--btn {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @include vp-767 {
    justify-content: flex-start;
  }
}

.form__field--modal.form__field--cities select {
  appearance: none;
  cursor: pointer;
}

.form__field--modal.form__field--consent input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.form__field--modal.form__field--consent input:focus:not(:checked) + .form__label::before,
.form__field--modal.form__field--consent input:focus-visible:not(:checked) + .form__label::before,
.form__field--modal.form__field--consent input:not(:checked):not(:disabled):not(:focus):not(:focus-visible) + .form__label:hover::before {
  border-color: $color-action;
  background-color: $color-white;
  transition: background-color $trans-default, border-color $trans-default;
}

.form__field--modal.form__field--consent input:disabled:not(:checked) + .form__label::before {
  border-color: $color-action;
  background-color: rgba($color-action, 0.6);
  cursor: not-allowed;
}

.form__field--modal.form__field--consent input:disabled:not(:checked) + .form__label {
  cursor: not-allowed;
}

.form__field--modal.form__field--consent.is-error input:not(:disabled):not(:checked) + .form__label::before {
  border-color: $color-error;
  background-color: rgba($color-action, 0.7);
}

.form__field--modal.form__field--consent input:checked + .form__label::before {
  background-color: $color-action;
  border-color: $color-action;
}

.form__field--modal.form__field--consent input:checked + .form__label::after {
  display: block;
  background-color: $color-white;
}

.form__field--modal.form__field--consent input:focus:checked + .form__label::before,
.form__field--modal.form__field--consent input:focus-visible:checked + .form__label::before,
.form__field--modal.form__field--consent input:checked:not(:disabled):not(:focus):not(:focus-visible) + .form__label:hover::before {
  border-color: $color-action;
  background-color: $color-white;
  transition: background-color $trans-default, border-color $trans-default;
}

.form__field--modal.form__field--consent input:focus:checked + .form__label::after,
.form__field--modal.form__field--consent input:focus-visible:checked + .form__label::after,
.form__field--modal.form__field--consent input:checked:not(:disabled):not(:focus):not(:focus-visible) + .form__label:hover::after {
  background-color: $color-action;
  transition: background-color $trans-default;
}

.form__field--modal.form__field--consent input:disabled:checked + .form__label::before {
  border-color: $color-disabled;
  background-color: $color-disabled;
  cursor: not-allowed;
}

.form__field--modal.form__field--consent input:disabled:checked + .form__label::after {
  background-color: rgba($color-white, 0.7);
  cursor: not-allowed;
}

.form__field--modal.form__field--consent input:disabled:checked + .form__label {
  cursor: not-allowed;
}

.form__field--modal.form__field--btn button {
  width: 100%;
  max-width: 194px;
  min-height: 54px;
  padding: 3px;
  padding-left: 29px;
  border: 1px solid $color-action;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-color: $color-transparent;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: $color-action;
  cursor: pointer;
  transition: background-color $trans-default, color $trans-default;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-color: $color-action;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    right: 3px;
    top: 3px;
    z-index: 1;
    mask-repeat: no-repeat;
    mask-position: center;

    @include vp-767 {
      width: 34px;
      height: 34px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    background-color: $color-white;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
    z-index: 2;
    mask-image: url("../__spritemap#sprite-icon-btn-arrow-view");
    mask-size: 10px 10px;

    @include vp-767 {
      right: 15px;
    }
  }

  @include vp-767 {
    max-width: none;
    min-height: 42px;
    font-size: 12px;
    line-height: 12px;
  }
}

.form__field--modal.form__field--btn span {
  width: 100%;

  @include vp-767 {
    max-width: 162px;
  }

}

.form__field--modal.form__field--btn button:hover:not(:disabled):not(:focus):not(:focus-visible):not(:active) {
  background: $color-action;
  color: $color-white;
  transition: background-color $trans-default, color $trans-default;
}

.form__field--modal.form__field--btn button:active:not(:disabled) {
  color: rgba($color-white, 0.7);
  background: $color-action;
  transition: background-color $trans-default, color $trans-default;
}

.form__field--modal.form__field--btn button:focus::before,
.form__field--modal.form__field--btn button:focus-visible::before {
  transform: rotate(45deg) translateX(-4px) translateY(-4px);
  transform-origin: center center;
  transition: transform $trans-default;
}

.form__field--modal.form__field--btn button:hover:not(:disabled):not(:focus):not(:focus-visible):not(:active)::before {
  background: $color-action;
  transform: rotate(45deg) translateX(-4px) translateY(-4px);
  transform-origin: center center;
  transition: transform $trans-default, background-color $trans-default;
}

.form__field--modal.form__field--btn button:hover:not(:disabled):not(:focus):not(:focus-visible):not(:active)::after {
  background: $color-white;
  transition: background-color $trans-default;
}

.form__field--modal.form__field--btn button:active:not(:disabled)::before {
  background: rgba($color-action, 0.7);
  transform: rotate(45deg) translateX(-4px) translateY(-4px);
  transform-origin: center center;
  transition: transform $trans-default, background-color $trans-default;
}

.form__field--modal.form__field--btn button:active:not(:disabled)::after {
  background: $color-white;
  transition: background-color $trans-default;
}

.form__field--modal.form__field--btn button:disabled::before {
  background-color: rgba($color-white, 0.6);
}

.form__field--modal.form__field--btn button:disabled::after {
  background-color: $color-disabled;
}

.form__field--modal.form__field--btn button:disabled {
  pointer-events: none;
  color: $color-disabled;
  border-color: $color-disabled;
}
