.hero {
  position: relative;
}

.hero__container {
  position: absolute;
  top: 50px;
  z-index: 2;

  left: 0;
}


.hero__slider-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  min-width: 100px;
  width: auto;
  height: 40px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px 20px 0 0;
  left: 100px;
  top: -40px;
  background-color: $color-white;
  z-index: 8;
  display: flex;
  column-gap: 12px;
  mask-repeat: no-repeat;
  mask-position: center;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: -20px;
    transform: rotate(270deg);
    width: 20px;
    height: 20px;
    background-color: $color-white;
    mask-size: 20px 20px;
    mask-image: url("../__spritemap#sprite-icon-corner-view");

    @include vp-767 {
      width: 10px;
      height: 10px;
      right: -10px;
      mask-size: 10px 10px;
    }
  }

  @include vp-1439 {
    top: -28px;
    left: 45px;
  }

  @include vp-767 {
    height: 28px;
    min-width: 80px;
    left: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px 12px 0 0;
  }
}

.hero__slider-bullet {
  padding: 0;
  cursor: pointer;
  background-color: $color-transparent;
  width: 12px;
  height: 12px;
  border: 2px solid $color-action;
  border-radius: 50%;

  &--is-active {
    border-color: $color-action-alternative;
    background-color: $color-action-alternative;
  }

  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    background-color: $color-action;
    transition: background-color $tf-default;
  }

  &:not(:disabled):not(:focus):not(:focus-visible):not(:active):hover {
    background-color: rgba($color-action, 0.7);
    border-color: rgba($color-white, 0.7);

    transition: background-color $tf-default, border-color $tf-default;
  }

  &:not(:disabled):active {
    border-color: $color-action-alternative;
    background-color: $color-action-alternative;
    transition: background-color $tf-default, border-color $tf-default;
  }

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}
