.news-tab {}

.news-tab__controls {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 15px;

  @include vp-1439 {
    margin-bottom: 30px;
    width: 100%;
    max-width: 674px;
    column-gap: 6px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}

.news-tab__control {
  width: 100%;
  max-width: 120px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: $color-transparent;
  border: 2px solid $color-transparent;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  text-align: center;
  color: rgba($color-action, 0.6);
  cursor: pointer;
  transition: background-color $trans-default, color $trans-default, border-color $trans-default;

  &:focus:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: $color-white;
    border-color: $color-white;
    color: rgba($color-action, 1);
    transition: background-color $trans-default, color $trans-default, border-color $trans-default;
  }

  &:hover:not(:disabled):not(:focus):not(:focus-visible):not(:active) {
    color: rgba($color-action, 1);
    transition: color $trans-default;
  }

  &:active:not(:disabled) {
    background-color: $color-transparent;
    color: $color-action;
    border-color: $color-action;
    transition: background-color $trans-default, color $trans-default, border-color $trans-default;
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-1439 {
    width: auto;
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }
}

.news-tab__control.is-active {
  background-color: $color-transparent;
  color: $color-action;
  border-color: $color-action;
}

.news-tab__content {}

.news-tab__element {
  display: none;
}

.news-tab__element.is-active {
  display: block;
}

.news-tab__slider {
  margin-bottom: 39px;

  @include vp-1439 {
    margin-bottom: 29px;
  }
}

.news-tab__wrapper.swiper-wrapper {}

.news-tab__slide {}

.news-tab__navigation.slider__navigation {
  max-width: none;
}

.news-tab__slider-btn {}

.news-tab__slider-btn--prev {}

.news-tab__slider-btn--next {}

.news-tab__slider-pagination {}
