.page-header {
  position: relative;
}

.page-header__head {
  position: absolute;
  z-index: 3;
  width: 100%;
  padding-top: 30px;

  @include vp-767 {
    padding-top: 20px;
  }
}

.page-header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page-header__logo {
  // flex-shrink: 0;
  width: 52px;
  height: 52px;
  padding-top: 2px;
  border-radius: 50%;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.page-header__nav {
  z-index: 3;
  position: relative;
}
