.programs-slide.swiper-slide {
  width: 100%;
  max-width: 392px;
  position: relative;
  height: auto;
  min-height: 420px;
  padding-top: 280px;
  padding-left: 20px;
  padding-bottom: 17px;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: $color-overlay;
    border-radius: 12px;
  }

  @include vp-1439 {
    max-width: 324px;
    padding-top: 285px;
    padding-bottom: 10px;
  }

  @include vp-767 {
    max-width: none;
    min-height: 400px;
    padding-top: 271px;
    padding-bottom: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.programs-slide picture {
  font-size: 0;
  line-height: 0;
}

.programs-slide > picture img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  object-fit: cover;
  border-radius: 12px;
}

.programs-slide__content {
  position: relative;
  z-index: 3;
  margin-top: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.programs-slide__content h3 {
  margin: 0;
  color: $color-action;
  font-size: 24px;
  line-height: 17px;
  font-weight: 400;

  @include vp-1439 {
    font-size: 20px;
    line-height: 14px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

.programs-slide__content p {
  margin: 0;
  max-width: 239px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @include vp-1439 {
    font-size: 14px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
    max-width: none;
  }
}

.programs-slide__head {
  width: 100%;
  max-width: 194px;
  background-color: $color-white;
  border-radius: 12px 12px 0 0;
  padding: 18px;
  padding-bottom: 6px;
  position: relative;
  mask-repeat: no-repeat;
  mask-position: center;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: -18px;
    width: 18px;
    height: 18px;
    background-color: $color-white;
    transform: rotate(-90deg);
    mask-size: 18px 18px;
    mask-image: url("../__spritemap#sprite-icon-corner-view");
  }

  @include vp-1439 {
    max-width: 173px;
  }

  @include vp-767 {
    max-width: 146px;
  }
}

.programs-slide__row {
  background-color: $color-white;
  border-radius: 0 12px 12px;
  max-width: 321px;
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  align-items: center;
  min-height: 82px;
  padding-top: 12px;
  padding-bottom: 16px;

  @include vp-1439 {
    max-width: 284px;
    min-height: 87px;
    padding-top: 9px;
    padding-bottom: 15px;
  }

  @include vp-767 {
    max-width: 270px;
    min-height: 69px;
    padding-top: 12px;
  }
}

.programs-slide__row br {
  @include vp-1440 {
    display: none;
  }

  @include vp-767 {
    display: none;
  }
}

.programs-slide__btn {
  flex-shrink: 0;
}
